.btnGroup {
    height: 36px;
    padding: 2px;
    border-radius: 12px;
    box-shadow: var(--box-shadow-secondary-inverse);
    background-image: var(--bg-image-secondary-inverse);
    transition: background-image 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    display: inline-flex;
}
.btnGroup label {
    width: 88px;
    flex: unset;
    height: 32px;
    border-radius: 10px !important;
    background: transparent;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.23;
    text-align: center;
    color: var(--color-primary);
    transition: color 0.3s ease-in-out;
}
.btnGroup label.active {
    color: var(--color-primary);
    background-color: #545b62;
    border-color: #4e555b;
    box-shadow: var(--box-shadow-tertiary-inverse);
    background-image: var(--bg-image-tertiary-inverse);
    transition: background-image 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    font-weight: 600;
}

.inputRadio {
    display: none;
}

.divider {
    width: 1px;
    height: 16px;
    margin: 8px 0;
    border-radius: 0.5px;
    background-color: var(--bg-primary);
    transition: background-color 0.3s ease-in-out;
}

@media only screen 
  and (max-width: 768px) { 

    .btnGroup label {
        width: 65px;
        height: 32px;
        border-radius: 10px !important;
        background: transparent;
        border: none;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.23;
    }
}

