.waveContainer{
    width: 100%;
    height: 80%;
    overflow: auto;
}   

.wavemakerSection {
    margin-bottom: 8px;
    padding: 0;
}
.wavemakerItem {
    height: 80px;
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.trackArt {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    border-radius: 12px;
}
.wavemakerItemTextContainer {
    flex-grow: 1;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    text-align: left;
    margin-right: 20px;
    overflow:hidden;
}
.trackTitle {
    height: 24px;
    margin-bottom: 2px;  
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;  
    color: var(--color-primary);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    max-width: 100%;
}
.trackTitle .trackFeature {
    color: var(--color-subtitle);
}
.trackArtist {
    height: 16px;  
    font-size: 13px;
    font-weight: 500;
    line-height: 1.23;  
    color: var(--color-subtitle);
}